{% extends 'main/base.html' %}

{% block title %} Create Account {% endblock %}
{% load crispy_forms_tags %}

{% block content %} 
    <form method="POST", class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Join</button>
    </form>
{% endblock %}

