{% extends 'main/base.html' %}

{% block title %}{% endblock %}


{% block content %}
<h2>{{c.title}}</h2> 
<div class="d-flex p-2 bd-highlight">
    <div class="d-flex flex-xl-column bd-highlight mb-3">
        
        <div class="p-2 flex-fill bd-highlight">
            <dl>
                <dt>Category:</dt>
                <dd>{{c.category}}</dd>
                <dt>Team:</dt>
                <dd>{{c.training_team}}</dd>
                <dt>Course Date:</dt>
                <dd>{{c.starts}}</dd>
                <dt>Course End</dt>
                <dd>{{c.ends}}</dd>
                <dt>Seats Available</dt>
                <dd>{{ c.total_seats|add:"-0" }}/{{ c.total_seats }}</dd>
            </dl>
           
        </div>

        <div class="p-2 flex-fill bd-highlight">
            <dl>
                <dt>Description:</dt>
                <dd>{{c.description}}</dd>
            </dl>
        </div>
    </div> 
</div>
<button type='submit', name='save' class="btn btn-success">Register</button>


{% endblock %}