{% extends 'main/base.html' %}

{% block title %} Login Here {% endblock %}

{% load crispy_forms_tags %}

{% block content %} 
<form class="form-group", method="POST">
    {% csrf_token %}
    {{form|crispy}}

    <p>don't have an account?  Create One <a href="/register">here</a></p>

    <button type="submit", class="btn btn-success">Login</button>


</form>
{% endblock %}