{% extends 'main/base.html' %}

{% block title %} Create a Course {% endblock %}
{% load crispy_forms_tags %}

{% block content %}



<div class="jumbotron">
    <div class="container">
    <h5 class="display-5">Create Course</h5>
    <br>
    <h6 class="display-5">Course Details:</h6>
        <div class="form-group">
            <form  method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit', name='save' class="btn btn-success">Create New</button>
        </div>
    </div>
</div>
{% endblock %}